*{
  margin: 0;
  padding: 0;
}
:root{
  --bg-color: radial-gradient(1000px 900px at 70% 80%, rgb(0, 255, 132), rgba(242, 10, 211, 0.925));
  --color: aqua;
  --bg-container: rgba(0, 255, 255, 0.671);
  --user-color:#0078ff; 
}
body{
  background: var(--bg-color);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

body.dark{
   --bg-color: linear-gradient(90deg, rgba(131, 58, 180, 1) 20%, rgba(253, 29, 29, 1) 62%, rgba(252, 176, 69, 1) 88%);;
  --color: rgb(72, 3, 161);
  --bg-container: rgba(149, 2, 168, 0.897);
  --user-color:#d602cc; 
}
.theme{
  position: fixed;
  padding: 10px;
  border-radius: 50%;
  border:1px solid #0222d6 ;
  top: 10%;
  left: 2%;
  background: transparent;
}
.container{
  background:var(--bg-container);
  width: 300px;
  height: 400px;
  border: none;
  border-radius: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}
#chatbot{
  position: absolute;
  top: 0;
  margin: 10px;
  display: flex;
  align-items: center;

}

.inputs{
  position: sticky;
  bottom: 0;
  margin: 10px;

}

.input-button,
.sentButton{
  padding: 10px;
  border: 1px solid aqua;
  border-radius: 10px;
  

}
.sentButton{
  background: var(--color);
  font-weight: 500;
  cursor: pointer;
  transition: color 0.5s ease;
}
.sentButton:hover,
.input-button:hover{
  color: var(--color);
  background: black;
}
.sentButton:active{
  color: blueviolet;
  background: white;
}

.text{
  position: relative;
  bottom: 70px;
  background: transparent;
  color: black;
  right: 2px;
  border: none;
  font-size: 1.3rem;
}

.textInput{
  position: relative;
  bottom: 80px;
  color: black;
  left: 3px;
  font-size: 1.3rem;
}

.main {
  background: transparent;
  border-radius: 20px;
  padding: 20px;
  width: 300px;
  height: 500px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.chat {
  margin: 8px 0;
  padding: 10px 15px;
  border-radius: 15px;
  max-width: 70%;
  line-height: 1;
}

.user {
  background: var(--user-color);
  color: white;
  align-self: flex-end;
  border-bottom-right-radius: 2px;
}

.bot {
  background: #e4e6eb;
  color: black;
  align-self: flex-start;
  border-bottom-left-radius: 2px;
  margin-left: 5px;
  }
